Repository antribute/open-source, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Configuration, Core Monorepo, Dependency, App: ADK Todo List Example, App: Antribute Landing Page, Package: Backend Auth (Clerk), Package: Backend Auth (NextAuth), Package: Backend Core, Package: Backend GraphQL (Pothos), Package: Backend ORM (Prisma), Package: Backend Perms (Auth0 FGA), Package: Backend Perms (Permify), Package: Backend Server (Koa), Package: Backend Server (Next.js), Package: Config, Package: Tracking, Package: UI

.github/labeler.yml:

'GitHub Configuration':
  - '.github/**'
'Core Monorepo':
  - '.gitignore'
  - 'nvmrc'
  - './package.json'
  - 'pnpm-workspace.yaml'
  - 'turbo.json'
'Dependency':
  - 'pnpm-lock.yaml'
'App: ADK Todo List Example':
  - 'apps/example-adk-todo-list/**'
'App: Antribute Landing Page':
  - 'apps/landing-page/**'
'Package: Backend Auth (Clerk)':
  - 'packages/backend-auth-clerk/**'
'Package: Backend Auth (NextAuth)':
  - 'packages/backend-auth-nextauth/**'
'Package: Backend Core':
  - 'packages/backend-core/**'
'Package: Backend GraphQL (Pothos)':
  - 'packages/backend-graphql-pothos/**'
'Package: Backend ORM (Prisma)':
  - 'packages/backend-orm-prisma/**'
'Package: Backend Perms (Auth0 FGA)':
  - 'packages/backend-perms-auth0-fga/**'
'Package: Backend Perms (Permify)':
  - 'packages/backend-perms-permify/**'
'Package: Backend Server (Koa)':
  - 'packages/backend-server-koa/**'
'Package: Backend Server (Next.js)':
  - 'packages/backend-server-nextjs/**'
'Package: Config':
  - 'packages/config/**'
'Package: Tracking':
  - 'packages/tracking/**'
'Package: UI':
  - 'packages/ui/**'

Replace GeneratedSchema Naming with Schema
  .gitignore
  packages/backend-orm-prisma/src/prismaGenerator.ts
  packages/backend-server-koa/src/koaGenerator.ts
  packages/backend-server-koa/src/koaTemplates.ts
Labels: Core Monorepo, Package: Backend ORM (Prisma), Package: Backend Server (Koa)

update form
  packages/config/eslint/eslint-base.cjs
  packages/ui/package.json
  packages/ui/src/components/Form/components/ControlledCheckbox.tsx
  packages/ui/src/components/Form/createForm.tsx
  packages/ui/src/components/Form/index.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Labels: Dependency, Package: Config, Package: UI

update eslint config
  packages/config/eslint/eslint-base.cjs
Labels: Package: Config

lint
  packages/ui/src/utils/objectMap.ts
Labels: Package: UI

lint
  packages/ui/src/components/Icon/SvgIconWrapper.tsx
  packages/ui/src/utils/objectMap.ts
Labels: Package: UI

update lock file
  pnpm-lock.yaml
Labels: Dependency

Rename index.tsx to index.ts
  packages/ui/src/components/Icon/index.ts
Labels: Package: UI

create @antribute/react-route-generator
  packages/react-route-generator/.eslintignore
  packages/react-route-generator/.eslintrc.cjs
  packages/react-route-generator/LICENSE
  packages/react-route-generator/README.md
  packages/react-route-generator/package.json
  packages/react-route-generator/src/index.ts
  packages/react-route-generator/src/tanstack-route-generator-plugin/generateRoutes.ts
  packages/react-route-generator/src/tanstack-route-generator-plugin/helpers.ts
  packages/react-route-generator/src/tanstack-route-generator-plugin/index.ts
  packages/react-route-generator/src/tanstack-route-generator-plugin/tanstack-route-generator-plugin.ts
  packages/react-route-generator/tsconfig.json
  packages/react-route-generator/tsup.config.js
  packages/react-route-generator/vitest.config.js
Labels: none

update lock file
  pnpm-lock.yaml
Labels: Dependency

add test
  packages/react-route-generator/package.json
  packages/react-route-generator/src/tanstack-route-generator-plugin/tanstack-route-generator-plugin.test.ts
  pnpm-lock.yaml
Labels: Dependency

update ui
  .vscode/settings.json
  packages/ui/package.json
  packages/ui/src/components/AntributeBrand/AntributeLogo.tsx
  packages/ui/src/components/AntributeBrand/AntributeWordmark.tsx
  packages/ui/src/components/AntributeBrand/index.ts
  packages/ui/src/components/Combobox/Combobox.types.ts
  packages/ui/src/components/Combobox/useCombobox.tsx
  packages/ui/src/components/Icon/index.ts
  packages/ui/src/components/KBD/KBD.mdx
  packages/ui/src/helpers.ts
  packages/ui/src/index.ts
  packages/ui/src/utils/classed/cx.ts
  packages/ui/src/utils/classed/index.ts
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/noopCx.ts
Labels: Package: UI

remove typeRoot
  packages/ui/tsconfig.json
Labels: Package: UI

lint
  packages/ui/src/components/AutoSizer/AutoSizer.types.ts
  packages/ui/src/components/Combobox/Combobox.helpers.ts
  packages/ui/src/components/Combobox/Combobox.stories.tsx
  packages/ui/src/components/Combobox/ComboboxFooter.tsx
Labels: Package: UI

input changes
  packages/ui/src/components/Input/Input.stories.tsx
  packages/ui/src/components/Input/Input.types.ts
  packages/ui/src/components/Input/components/InputAddonGroup/InputAddon.tsx
  packages/ui/src/components/Input/components/InputContainer.tsx
  packages/ui/src/utils/pickProps.ts
Labels: Package: UI

add filterDOMAttributes util
  packages/ui/src/utils/filterDOMAttributes.ts
Labels: Package: UI

update eslint config
  packages/config/eslint/eslint-base.cjs
Labels: Package: Config

update launch.json
  .vscode/launch.json
Labels: none

work on query builder
  packages/ui/package.json
  packages/ui/src/components/Icon/DragIndicatorIcon.tsx
  packages/ui/src/components/QueryBuilder/QueryBuilder.context.tsx
  packages/ui/src/components/QueryBuilder/QueryBuilder.mdx
  packages/ui/src/components/QueryBuilder/QueryBuilder.stories.tsx
  packages/ui/src/components/QueryBuilder/QueryBuilder.tsx
  packages/ui/src/components/QueryBuilder/ReactQueryBuilder.helpers.ts
  packages/ui/src/components/QueryBuilder/ReactQueryBuilder.tsx
  packages/ui/src/components/QueryBuilder/components/QueryAction.tsx
  packages/ui/src/components/QueryBuilder/components/QueryCombinatorSelector.tsx
  packages/ui/src/components/QueryBuilder/components/QueryDragHandle.tsx
  packages/ui/src/components/QueryBuilder/components/QueryRule.tsx
  packages/ui/src/components/QueryBuilder/components/QueryValueEditor.tsx
  packages/ui/src/components/QueryBuilder/components/QueryValueSelector.tsx
  packages/ui/src/components/QueryBuilder/components/helpers.ts
  packages/ui/src/components/QueryBuilder/components/index.ts
  packages/ui/src/components/QueryBuilder/components/query-builder-components.ts
  packages/ui/src/components/QueryBuilder/index.ts
  packages/ui/src/components/QueryBuilder/react-querybuilder.css
Labels: Package: UI

create @feature-type/cli
  packages/feature-type-cli/.eslintignore
  packages/feature-type-cli/.eslintrc.cjs
  packages/feature-type-cli/LICENSE
  packages/feature-type-cli/README.md
  packages/feature-type-cli/package.json
  packages/feature-type-cli/src/index.ts
  packages/feature-type-cli/src/type-generation/arktype-playground.test.ts
  packages/feature-type-cli/src/type-generation/generate-arktype-dts/generate-arktype-dts.test.ts
  packages/feature-type-cli/src/type-generation/generate-arktype-dts/generateArktypeDtsFile.ts
  packages/feature-type-cli/src/type-generation/generate-arktype-dts/generateArktypeTypeDef.ts
  packages/feature-type-cli/src/type-generation/index.ts
  packages/feature-type-cli/src/utils/arktype-helpers.ts
  packages/feature-type-cli/src/utils/file-utils.ts
  packages/feature-type-cli/tsconfig.json
  packages/feature-type-cli/tsup.config.js
  packages/feature-type-cli/vitest.config.js
Labels: none

update lock file
  pnpm-lock.yaml
Labels: Dependency

lint
  packages/ui/src/components/AppPanels/AppPanels.stories.tsx
  packages/ui/src/components/AppPanels/Panel.tsx
  packages/ui/src/components/AppPanels/PanelFlex.tsx
  packages/ui/src/components/AppPanels/helpers.ts
  packages/ui/src/components/AppPanels/index.ts
  packages/ui/src/components/AppPanels/usePanelSizeBreakpoints.tsx
  packages/ui/src/components/BasicCheckbox/BasicCheckbox.tsx
  packages/ui/src/components/Combobox/ComboboxSelectValue.tsx
Labels: Package: UI

skip cli test
  packages/feature-type-cli/package.json
Labels: none

update Form component
  packages/ui/src/components/ConfirmationPopover/index.ts
  packages/ui/src/components/Form/components/ControlledInput.tsx
  packages/ui/src/components/Form/components/fields/StringField.tsx
  packages/ui/src/components/Form/components/fields/TextAreaFormField.tsx
  packages/ui/src/components/Form/components/fields/fields.ts
  packages/ui/src/components/Form/components/useControlledInput.tsx
  packages/ui/src/components/Form/createForm.tsx
  packages/ui/src/components/Input/Input.stories.tsx
  packages/ui/src/components/Input/input-fields/TextAreaField.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/pickProps.ts
  pnpm-lock.yaml
Labels: Dependency, Package: UI

add export
  packages/ui/src/components/ClampText/index.ts
  packages/ui/src/index.ts
Labels: Package: UI

fix dialog backdrop
  packages/ui/src/components/Dialog/Dialog.styles.tsx
Labels: Package: UI

update form components
  packages/ui/src/components/Form/components/ControlledInput.tsx
  packages/ui/src/components/Form/components/fields/NumberFieldSchema.tsx
  packages/ui/src/components/Form/components/fields/SelectField.tsx
  packages/ui/src/components/Form/components/useControlledInput.tsx
  packages/ui/src/components/palette-editor/palette-editor.stories.tsx
Labels: Package: UI

update form components
  packages/ui/src/components/Form/components/fields/StringField.tsx
Labels: Package: UI

update form components
  packages/ui/src/components/Form/Form.stories.tsx
  packages/ui/src/components/palette-editor/palette-editor.stories.tsx
Labels: Package: UI

Fix Build, Lint, and Test
  apps/landing-page/src/app/page.tsx
  packages/backend-graphql-pothos/src/pothosGenerator.ts
  packages/tracking/tsup.config.js
  packages/ui/src/components/Table/components/TableBody.tsx
  pnpm-lock.yaml
  turbo.json
Labels: Core Monorepo, Dependency, App: Antribute Landing Page, Package: Backend GraphQL (Pothos), Package: Tracking, Package: UI
