Repository antribute/open-source, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Configuration, Core Monorepo, Dependency, License (This Should Never Change), App: Antribute Landing Page, Package: Analytics, Package: Shared Configuration, Package: TypeAPI, Package: UI

.github/labeler.yml:

'GitHub Configuration':
  - '.github/**'
'Core Monorepo':
  - './.gitignore'
  - './.npmrc'
  - './.prettierignore'
  - './package.json'
  - './bunfig.toml'
  - './codecov.yml'
  - './eslint.config.ts'
  - './README.md'
  - './setupTests.ts'
  - './tsconfig.json'
  - './turbo.json'
'Dependency':
  - 'bun.lockb'
'License (This Should Never Change)':
  - './LICENSE'
'App: Antribute Landing Page':
  - 'apps/landing-page/**'
'Package: Analytics':
  - 'packages/tracking/**'
'Package: Shared Configuration':
  - 'packages/config/**'
'Package: TypeAPI':
  - 'packages/hono-typebox-validator/**'
'Package: UI':
  - 'packages/react-route-generator/**'
  - 'packages/ui/**'

Create typebox-errors package for reusable error utils
  packages/hono-typebox-validator/src/index.ts
  packages/typebox-errors/LICENSE
  packages/typebox-errors/README.md
  packages/typebox-errors/build.config.ts
  packages/typebox-errors/package.json
  packages/typebox-errors/src/index.test.ts
  packages/typebox-errors/src/index.ts
  packages/typebox-errors/tsconfig.json
Labels: Package: TypeAPI

Create Node / Bun Config Loader Package
  bun.lockb
  packages/config-loader/LICENSE
  packages/config-loader/README.md
  packages/config-loader/build.config.ts
  packages/config-loader/package.json
  packages/config-loader/src/bun.ts
  packages/config-loader/src/common.ts
  packages/config-loader/src/index.test.ts
  packages/config-loader/src/index.ts
  packages/config-loader/src/node.ts
  packages/config-loader/src/types.ts
  packages/config-loader/testConfigs/testConfig
  packages/config-loader/testConfigs/testConfig.cjs
  packages/config-loader/testConfigs/testConfig.js
  packages/config-loader/testConfigs/testConfig.mjs
  packages/config-loader/testConfigs/testConfig.ts
  packages/config-loader/tsconfig.json
  packages/typebox-errors/src/index.ts
Labels: Dependency

Create drizzle-pagination Package
  packages/drizzle-pagination/LICENSE
  packages/drizzle-pagination/README.md
  packages/drizzle-pagination/build.config.ts
  packages/drizzle-pagination/package.json
  packages/drizzle-pagination/src/mysql-core.ts
  packages/drizzle-pagination/src/pg-core.ts
  packages/drizzle-pagination/src/sqlite-core.ts
  packages/drizzle-pagination/tsconfig.json
Labels: none

Create SQLite version if drizzle-crud
  bun.lockb
  packages/drizzle-crud/LICENSE
  packages/drizzle-crud/README.md
  packages/drizzle-crud/build.config.ts
  packages/drizzle-crud/package.json
  packages/drizzle-crud/src/shared.ts
  packages/drizzle-crud/src/sqlite-core-tests/migrations/0000_vengeful_unus.sql
  packages/drizzle-crud/src/sqlite-core-tests/migrations/meta/0000_snapshot.json
  packages/drizzle-crud/src/sqlite-core-tests/migrations/meta/_journal.json
  packages/drizzle-crud/src/sqlite-core-tests/sqlite-core.schema.ts
  packages/drizzle-crud/src/sqlite-core-tests/sqlite-core.test.ts
  packages/drizzle-crud/src/sqlite-core.ts
  packages/drizzle-crud/tsconfig.json
Labels: Dependency

Small sqlite structure changes
  packages/drizzle-crud/src/sqlite-core-tests/sqlite-core.test.ts
  packages/drizzle-crud/src/sqlite-core.ts
  packages/drizzle-crud/src/sqlite-tests/migrations/0000_vengeful_unus.sql
  packages/drizzle-crud/src/sqlite-tests/migrations/meta/0000_snapshot.json
  packages/drizzle-crud/src/sqlite-tests/migrations/meta/_journal.json
  packages/drizzle-crud/src/sqlite-tests/sqlite.schema.ts
Labels: none

Create PostgreSQL version of drizzle-crud
  bun.lockb
  packages/drizzle-crud/README.md
  packages/drizzle-crud/package.json
  packages/drizzle-crud/src/pg-core.ts
  packages/drizzle-crud/src/postgres-tests/postgres.test.ts
  packages/drizzle-crud/src/sqlite-tests/sqlite.test.ts
Labels: Dependency

Fix the ramification of using experimental test tech
  bun.lockb
  packages/backend-core/src/filesystem.test.ts
  packages/config-loader/src/index.test.ts
  packages/hono-typebox-validator/src/index.test.ts
  packages/tracking/src/client.test.tsx
  packages/tracking/src/server.test.ts
  packages/typebox-errors/src/index.test.ts
Labels: Dependency, Package: Analytics, Package: TypeAPI
