Repository antribute/open-source, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Configuration, Core Monorepo, Dependency, Package: Config, Package: UI

.github/labeler.yml:

'GitHub Configuration':
  - '.github/**'
'Core Monorepo':
  - '.gitignore'
  - 'nvmrc'
  - './package.json'
  - 'pnpm-workspace.yaml'
  - 'turbo.json'
'Dependency':
  - 'pnpm-lock.yaml'
'Package: Config':
  - 'packages/config/**'
'Package: UI':
  - 'packages/ui/**'

Fix codecov upload
  .github/workflows/test.yml
Labels: GitHub Configuration

Regenerate Lockfile
  pnpm-lock.yaml
Labels: Dependency

Add Peer Deps to Fix Lint
  packages/ui/package.json
Labels: Package: UI

Combine backend with backend-core
  apps/example-adk-todo-list/package.json
  packages/backend-core/package.json
  packages/backend-core/src/cli.ts
  packages/backend-core/src/commands/generate.test.ts
  packages/backend-core/src/commands/generate.ts
  packages/backend-core/tsup.config.js
  packages/backend/.eslintignore
  packages/backend/.eslintrc.cjs
  packages/backend/README.md
  packages/backend/package.json
  packages/backend/tsconfig.json
  packages/backend/tsup.config.js
  packages/backend/vitest.config.js
  pnpm-lock.yaml
Labels: Dependency

Temporarily disable branch releases
  .github/workflows/release-branch.yml.disabled
Labels: GitHub Configuration
